{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{resume.name}}</title>
    {% block styles %}      
      <link rel="stylesheet" href="{% static 'resume/css/resume.css' %}">
    {% endblock %}
  </head>
  <body class="resume-container">
    <main>
      {% comment %} Note also in: static/admin/reports/js/report.js {% endcomment %}
      {% block content%}
        <div id="print-action">
          <div><strong>NOTE:</strong> browser headers and footers have to be removed in the browser print dialog</div>
          <div><input type="button" value="Print" onClick="window.print()"></div>
        </div>
        {% include 'resume/partials/header.html' %}
        {% include 'resume/partials/professional_profile.html' %}
        {% include 'resume/partials/skills.html' %}
        {% include 'resume/partials/work.html' %}
        {% include 'resume/partials/education.html' %}
       {% endblock %}
    </main>
  </body>
</html>
