      <section>
        <h2>Relevant Education</h2>
        {% for education in educations %}
          <article>
            <h3>
              {{education.degree}}, {{education.field_of_study}}
              <span class="edu-date">
                {{education.start_date|date:"M Y"}} – {% if education.is_current_education %}
                    Present
                  {% else %}
                    {{education.end_date|date:"M Y"}}
                  {% endif %}
                </span>
            </h3>
            <p>{{education.institution}}, {{education.address.city_region}}</p>
          </article>        
        {% endfor %}
