      <header>
        <h1>
          {% if resume.is_public %}
            {{ basics.public_display_name}}
          {% else %}
            {{ basics.full_name}}
          {% endif %}
        </h1>
        <p class="contact-line">{% if not resume.is_public %}{{basics.phone}} |{% endif %}  {{basics.email}} | {{basics.address.city_region}}</p>
        <p class="contact-line">
          {{social_urls|join:" | "}}
          {% if basics.website %} | {{basics.website}}{% endif %}
        </p>
      </header>