   <section>
        <h2>Relevant Work</h2>
        {% for job in jobs %}
            <article class="job">
              <h3>
                {{job.position}} {% if job.position_supplement %}({{ job.position_supplement }}){% endif%}
                {% comment %} TODO: add prof profile {% endcomment %}
                 {% comment %} {% if job.summary %}({{job.summary}}){% endif %} {% endcomment %}
                <span class="job-dates">{{job.start_date_formatted}} – {{job.end_date_formatted}}
                  </span>
              </h3>
              <p class="job-meta">{{job.org.name}}, {{job.address.city_region}}</p>
              <ul>
               {% for highlight in job.highlights.all %}
                  <li>{{highlight.highlight_text}}</li>                
                {% endfor %}
              </ul>
            </article>
        {% endfor %}
      </section>