.report-wrapper {
  max-width: 800px;
  margin: 1em auto;
  padding: 1em;
  background: #fff;
}

.report-entry-list {
  padding: 1em;
  margin-bottom: 1em;
}

.report-title {
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem !important;
}

.object-tools {
  display: none !important;
}

ul > li {
  list-style: none;
  font-size: 1rem;
}

address {
  font-style: normal;
}

.section-table-layout {
  display: flex;
  flex-direction: column;
}

.report-entry {
  border: 1px solid #ccc;
  padding: 0.75rem;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 1.25rem;
}

.report-entry header {
  display: flex;
  justify-content: space-between;
}

.report-entry header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 1.2rem;
}

.report-entry dl {
  display: grid;
  grid-template-columns: max-content 1fr max-content 1fr;
  /* gap: 0.5rem 1rem; */
  gap: 1rem;
  align-items: start;
  margin-top: 1rem;
}

.report-entry dt,
.report-entry dd {
  margin: 0;
  font-size: 0.9rem !important;
}
.report-entry dt {
  font-weight: bold;
}

/* NOTE: this does not take into account the Django sidebar */
/* TODO: fix if theme/styling does not fix */
@media only screen and (max-width: 800px) {
  .report-entry dl {
    grid-template-columns: max-content 1fr;
  }
}
