{% load icons %}
<div class="contact-container">
  <section class="contact-content">
    
    <p class="contact-CTA">{{contact_cta}}</p>    
    <div class="contact-info {{ is_local|yesno:"local-contact-info,''" }}">  
      <a href="mailto:{{basics.email}}" class="contact-link">{% icon 'email' 'fa-fw' %}{{basics.email}}</a>
      {% for profile in social_profiles %}
        <a href="{{profile.url}}" class="contact-link" target="_blank" rel="noreferrer noopener">{% icon profile.network|lower 'fa-fw' %}{{profile.username}}</a>
      {% endfor %}
    </div>    
  </section>

  {% if not is_local %}
  <section class="contact-form-holder">
    <h1 class="contact-title">Let’s Connect !!!</h1>
    {% if messages %}
      {% for message in messages %}
        <div>{{ message }}</div>
      {% endfor %}
      <script>
        // Scroll to the contact section if a message exists
        document.addEventListener('DOMContentLoaded', function () {
          const contactSection = document.getElementById('contact');
          if (contactSection) {
            contactSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
          }
        });
      </script>
    {% endif %}
    <form method="post" class="contact-form">
      {% csrf_token %}
      
      <!-- Honeypot field, visually hidden but still present for bots -->
      <div class="honeypot">
        {{ form.nickname }}
      </div>
      {{ form.start_time }}
      <script>
        // Set the hidden start_time field to the current timestamp
        document.addEventListener('DOMContentLoaded', function () {
          const startField = document.querySelector('input[name="start_time"]');
          if (startField) {
            startField.value = Date.now() / 1000; // seconds since epoch
          }
        });
      </script>      
      
      <div class="contact-input-group">
        <label for="contact-name" class="contact-form-label">Name *</label>
        {{ form.name }}
        {{ form.name.errors }}
      </div>

      <div class="contact-input-group">
        <label for="contact-email" class="contact-form-label">Email *</label>
        {{ form.email }}
        {{ form.email.errors }}
      </div>

      <div class="contact-input-group">
        <label for="contact-phone" class="contact-form-label">Phone</label>
        {{ form.phone }}
        {{ form.phone.errors }}
      </div>

      <div class="contact-input-group">
        <label for="contact-message" class="contact-form-label">Message *</label>
        {{ form.message }}
        {{ form.message.errors }}
      </div>

      <div class="contact-input-group">
        <button type="submit" class="btn btn-contact-form">Submit</button>
      </div>
    </form>
  </section>
  {% endif %}