:root {
  --font: Arial, Helvetica, Georgia, Tahoma, Verdana, sans-serif;

  --max-width: 8.5in;
  --padding: 1rem;

  --line-height: 1.5;
  --gap: 0.25rem;
  --big-gap: 1rem;
}

/* unset the font-size so have to explicitly set */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: unset;
}

body {
  font-family: var(--font);
  font-size: 0.95rem;
  color: black;
  margin: 0;
  padding: 0;
  background-color: white;
  line-height: var(--line-height);
}

.resume-container {
  max-width: var(--max-width);
  margin: auto;
  padding: var(--padding);
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: var(--gap);
  text-transform: uppercase;
}

.contact-line {
  margin: 0;
}

section {
  margin-top: var(--big-gap);
  margin-bottom: var(--big-gap);
}

article {
  margin-bottom: var(--big-gap);
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: var(--gap);
}

h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: var(--gap);
}

.job-dates,
.edu-date {
  font-weight: normal;
}

.job-meta {
  margin-bottom: var(--gap);
}

ul {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  padding-left: 1.5rem;
}

li {
  margin-bottom: var(--gap);
}

.skill {
  font-weight: bold;
  text-transform: uppercase;
}

#print-action {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

@media print {
  #print-action {
    display: none;
  }
}

/* TODO: print page breaks styling */
