:root {
  --font: Arial, Helvetica, Georgia, Tahoma, Verdana, sans-serif;

  --padding: 2rem;

  --line-height: 1.4;
  --gap: 0.25rem;
  --big-gap: 1rem;

  --bg-color: white;
  --text-color: black;
}

/* unset the font-size so have to explicitly set */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-size: unset;
}

.resume-container {
  font-family: var(--font);
  font-size: 0.95rem;
  color: var(--text-color);
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  line-height: var(--line-height);
}

main {
  width: 85%;
  margin: auto;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.25rem;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: var(--gap);
  text-transform: uppercase;
}

.contact-line {
  margin: 0;
}

section {
  margin-top: var(--big-gap);
  margin-bottom: var(--big-gap);
}

article {
  margin-bottom: var(--big-gap);
}

h2 {
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: var(--gap);
}

h3 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin-bottom: var(--gap);
}

.job-dates,
.edu-date {
  font-weight: normal;
}

.job-meta {
  margin-bottom: var(--gap);
}

ul {
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  padding-left: 1.5rem;
}

li {
  margin-bottom: var(--gap);
}

.skill {
  font-weight: bold;
  text-transform: uppercase;
}

#print-action {
  display: flex;
  justify-content: space-between;
  margin: var(--padding) 0;
}

/**
 * =============================================
 * =        GENERAL PRINT STYLES               =
 * =============================================
 *
 */

/* Defining all page breaks */
a,
blockquote,
q,
table,
pre,
ul,
ol,
dl,
p,
p > span,
li,
section,
article {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
figure {
  page-break-after: avoid;
  page-break-inside: avoid;
}

@media print {
  #print-action {
    display: none;
  }

  main {
    width: 100%;
  }
}
